@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
 */

/* root styling */

:root{
    --light: #f8f9fa;
    --secondary: #adb5bd;
    --dark: #343a40;
    --primary-color: #f15bb5;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

*>*{
    box-sizing: border-box;
}


/* global styling */

.text-light{
    color:var(--light);
}
.text-secondary{
    color: var(--secondary);
}
.text-dark{
    color: var(--dark);
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
    background-color: var(--light);
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.img-fluid{
    width: 100%;
}
.text-title{
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
}
.secondary-title{
    font-family: 'Poppins',sans-serif;
}
.display-1{
    font-size: 22px;
}
.display-2{
    font-size: 16px;
}
.display-3{
    font-size: 14px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.btn{
    padding: 15px 20px;
    border: none;
}
.btn-primary{
    border-radius: 4px;
    background-color: var(--secondary-color);
}
.object-fit{
    max-height: 120px;
    height: 80px;
    width: 80px;
    object-fit: fill;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.mt-1{
    margin-top: 10px;
}
.mt-5{
    margin-top: 50px;
}
.mb-3{
    margin-bottom: 30px;
}
.px-05{
    padding-left: 5px;
    padding-right: 5px;
}
.px-2{
    padding-left: 20px;
    padding-right: 20px;
}
.py-1{
    padding-left: 10px;
    padding-right: 10px;
}
.py-2{
    padding-left: 20px;
    padding-right: 20px;
}
.py-3{
    padding-left: 30px;
    padding-right: 30px;
}
.thumbnail{
    width: 100%;
    height: 500px;
    object-fit: cover;
}



/* section styling */
/* ------ Navigation Menu ------ */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.nav-brand{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.collapse{
    align-self: center;
}
.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}
.nav-link:hover{
    color: var(--primary-color);
}
.search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}
.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}
.toggle-button:focus{
    outline: none;
}

/* ------ .Navigation Menu ------ */

/* ------ Main Section ------ */

#site-main{
    margin-top: 8em;
}
#posts{
    margin-bottom: 5em;
}
.grid{
    margin: 0 auto;
}
.grid .grid-item{
    width: calc(33.3333% - 20px);
    margin-bottom: 3em;
}
.slide-img{
    height: 347px;
}

/* ------ .Main Section ------ */

/* ------ Footer ------ */
#footer{
    padding-top: 4em;
}
#footer .feature-post .flex-item{
    margin-bottom: 10px;
}
#footer .tags a{
    border-radius: 40px;
    padding: 10px 10px;
    font-size: 15px;
}
#footer .copyrights{
    padding: 10px 0;
    border-top: 2px solid var(--light);
}
/* ------ .Footer ------ */

/* ------ article page ------ */
#post{
    padding: 0 2em;
    margin-bottom: 4em;
}
/* ------ .article page ------ */

/* Media Query */

.row{
    display: flex;
}
.col-3{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 35px;
}

@media(max-width: 1080px){
    .navbar{
        flex-direction: column;
    }
    .row{
        flex-wrap: wrap;
    }
    .col-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 768px){
    .grid .grid-item{
        width: calc(50% - 20px);
    }
    .row{
        flex-wrap: wrap;
    }
    .col-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 610px){
    .toggle-button{
        display: initial;
    }
    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(.79,.14,.15,.86);
    }
    .collapse .nav-link{
        display: block;
        text-align: center;
    }
    .search-box{
        border-right: none;
    }
    .collapse-toggle{
        max-height: 500px;
    }
    .grid .grid-item{
        width: calc(100% - 20px);
    }
}